**/*.so
**/*.dll
**/*.dylib
**/*.class
**/*.log
**/*.bin
**/*.lst
**/*.obj
**/*.dump
**/*egg-info
**/.DS_Store

android_arm64/
darwin_arm64/
darwin_amd64/
linux_amd64/
windows_amd64/
target/
build/
dist/
libs/
pyenv/
__pycache__/
.venv/

.DS_Store